@{
    ViewBag.Title = "Home Page";
}



    <div class="jumbotron">
        <h1>OH&S - WHMIS Safety Data Sheets</h1>
        <p class="lead">Your link to all the chemical safety data sheets</p>
        <p><a href="~/Home/SafetySheet" class="btn btn-primary btn-lg">&nbsp; &nbsp;&nbsp; Go To Database &raquo; &nbsp; &nbsp; &nbsp;</a></p>
        <p><a href="~/Home/AddSDS" class="btn btn-primary btn-lg">&nbsp; &nbsp; &nbsp;Enter new Entry &raquo; &nbsp; &nbsp; &nbsp;</a></p>
        <p><a href="~/Home/ManageAccounts" class="btn btn-primary btn-lg">Manage User Accounts &raquo;</a></p>
    </div>

   