@{
    ViewBag.Title = "LoginError";
}

<h2>Login / Password Reset Error</h2>

<div style="background-color:#DDA0DD; height: 10px;">
</div>
<div style="background-color: #f5f5eb; color: #FF00FF; height: 170px;">
    <div style=" padding:20px;">
     
        <h4>
            Sorry, an error occurred while processing your request.
        </h4><br />
             <h4>
                 Email or Password provided is not recognised by the system
             </h4><br />
        <h5>@Html.ActionLink("Log In again", "login", "Home")</h5>
        <br />
        <br />
    </div>
</div>
<div style="background-color: #BA55D3; color: White; height: 20px;">
</div>  